In [11]:
import pandas as pd 
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import f_oneway

In [3]:
d = {"a" : [1,2,5],"b":[2,4,2],"c":[2,3,4]}
df = pd.DataFrame(data=d)
df

   a  b  c
0  1  2  2
1  2  4  3
2  5  2  4

In [6]:
# compare value bteween a and b

model = ols("a~b",data=df).fit()

In [7]:
anova = sm.stats.anova_lm(model,type=2)
print(anova)

           df    sum_sq   mean_sq         F    PR(>F)
b         1.0  0.666667  0.666667  0.083333  0.821088
Residual  1.0  8.000000  8.000000       NaN       NaN

In [8]:
# compare value bteween a,b and c

model2 = ols("a~b+c",data=df).fit()

In [9]:
anova2 = sm.stats.anova_lm(model2,type=2)
print(anova2)

           df        sum_sq   mean_sq    F  PR(>F)
b         1.0  6.666667e-01  0.666667  0.0     NaN
c         1.0  8.000000e+00  8.000000  0.0     NaN
Residual  0.0  9.466331e-30       inf  NaN     NaN

C:\Users\yuka\Anaconda3\lib\site-packages\statsmodels\stats\anova.py:138: RuntimeWarning: divide by zero encountered in double_scalars
  (model.ssr / model.df_resid))

In [14]:
f_oneway(df[["a"]],df[["b"]],df[["c"]])

F_onewayResult(statistic=array([0.05]), pvalue=array([0.9516215]))

# Interpretation
* p-value less than 0.05 : Reject null hypothesis and accept alternative hypothesis
* p-value less than 0.05 : Fail to reject null hypothesis and reject alternative hypothesis

In [17]:
import scipy.stats as stats

# get ANOVA table as R like output
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [16]:
# stats f_oneway functions takes the groups as input and returns F and P-value

fvalue, pvalue = stats.f_oneway(df["a"],df["b"],df["c"])
print(fvalue, pvalue )

0.049999999999999996 0.9516215013591449